/*
* @Author: laihaibo
* @Date:   2016-05-30 21:18:50
* @Last Modified by:   laihaibo
* @Last Modified time: 2016-06-01 16:35:33
*/
*{margin: 0;padding: 0;}
body{height:100%;width: 100%}
/*#canvas{border:1px solid rebeccapurple;display:block;margin:20px auto}*/
